{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="mt-2 p-2">
        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            {% for tab in todo_status %}
            <li class="nav-item" role="presentation">
                <a class="nav-link text-secondary border border-secondary {{ 'active' if loop.index == 1}}" id="home-tab" data-toggle="tab" href="#{{tab.id}}" role="tab"
                    aria-controls="home" aria-selected="true">{{tab.name}}</a>
            </li>
            {% endfor %}
        </ul>

    </div>

</div>
<div class="mt-3">
    <div class="tab-content mt-3" id="myTabContent">
        {% for tab in todo_status %}
        <div class="tab-pane fade show {{ 'active' if loop.index == 1}}" id="{{tab.id}}" role="tabpanel" aria-labelledby="home-tab">
            <div class="container mt-4 mb-4 p-1 bg-light">
                <div class="row">
                    <div class="col-11">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="filter_input_{{tab.id}}">Filter</label>
                            </div>
                            <input type="text" class="form-control " id="filter_input_{{tab.id}}">
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn btn-link" onclick="add_new_todo('{{tab.id}}')">
                            <span class="material-icons">post_add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row container-fluid">
                {% for todo_item in todo_list[tab.id] %}
                    {% if loop.index % 4 == 0  %}
                        </div>
                        <br/>
                        <br/>
                        <div class="row container-fluid">
                    {% endif %}
                        <div class="col-4">
                            <div class="card">
                                <img src="static/{{todo_item.image}}" class="card-img-top" alt="ToDo">
                                <div class="card-body">
                                <p><small>{{todo_item.created_on}}</small></p>
                                <a class="card-title" href="/todo/{{todo_item.id}}">{{todo_item.title}}</a>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                </div>
            </div>
            <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal" id="modal_{{tab.id}}" tabindex="-1" aria-labelledby="" aria-hidden="true"
                data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form class="needs-validation" novalidate id="form_{{tab.id}}">
                                <!-- ToDo inputs -->
                                <div class="row mb-3">
                                    <label for="{{tab.id}}_title" class="col-sm-5 col-form-label">Title</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control"id="{{tab.id}}_title" name="title" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="{{tab.id}}_description" class="col-sm-5 col-form-label">Description</label>
                                    <div class="col-sm-7">
                                        <textarea class="form-control"id="{{tab.id}}_description" name="description"></textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="{{tab.id}}_priority" class="col-sm-5 col-form-label">Priority</label>
                                    <div class="col-sm-7">
                                        <select id="{{tab.id}}_priority" class="form-control" name="priority" required>
                                            <option selected>low</option>
                                            <option>medium</option>
                                            <option>high</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="{{tab.id}}_image" class="col-sm-5 col-form-label">Image</label>
                                    <div class="col-sm-7">
                                        <input type="file" class="form-control-file" id="{{tab.id}}_image" name="image">
                                    </div>
                                </div>
                                <!-- ToDo inputs -->
                                <div class="alert alert-danger alert-dismissible fade" id="show_alert" role="alert">
                                    <strong id="content"></strong>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="add_todo_modal">Close</button>
                            <button type="button" class="btn btn-primary" id="submit_values">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
