{% extends "layout.html" %}
{% block content %}
<div class="center-form">
    <form class="form-signin bg-light p-5 border border-warning rounded text-center" method="POST" action="/login">
        <p class="costeng-login-subtitle">TO DO LIST</p>
        <hr>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required
            autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

        <div class="alert alert-danger alert-dismissible fade" id="show_alert" role="alert">
            <strong id="content"></strong>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <button type="button" class="btn btn-link btn-login" data-toggle="modal" data-target="#register-modal">
            Register
        </button>
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="register-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Register</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="material-icons">cancel_presentation</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" id= "user_registration" oninput='password2.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")'>
            <div class="form-group mt-2 row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
            </div>
            <div class="form-group mt-2 row">
                <label for="password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                    required>
                </div>
            </div>
            <div class="form-group mt-2 row">
                <label for="password2" class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name="password2"
                    required>
                </div>
            </div>
            <div class="alert alert-danger alert-dismissible fade" id="show_alert" role="alert">
                <strong id="content"></strong>
            </div>
            <button type="button" class="btn btn-primary" onclick="user_register()">Register</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}