{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <table class="table" aria-describedby="Tabs">
        <thead>
            <tr>
                {% for column in user.keys() %}
                    <th scope="col"><span title="{{column}}">{{column}}</span></th>
                {% endfor %}
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id=table_user>
            <tr>
                {% for user_key, user_val in user.items() %}
                    <td><span title="{{user_key}}">{{user_val}}</span></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
</br>
<div class="container-fluid">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        {% for credit_card in credit_cards_info %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="card_card_{{credit_card.credit_card_id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#card_{{credit_card.credit_card_id}}" aria-expanded="false" aria-controls="card_{{credit_card.credit_card_id}}">
                Credit Card №{{loop.index}}
            </button>
          </h2>
          <div id="card_{{credit_card.credit_card_id}}" class="accordion-collapse collapse" aria-labelledby="card_card_{{credit_card.credit_card_id}}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table class="table" aria-describedby="Tabs">
                    <thead>
                        <tr>
                            <th scope="col"><span title="Credit Card Number">Credit Card Number</span></th>
                            <th scope="col"><span title="Credit Card CVV">Credit Card CVV</span></th>
                            <th scope="col"><span title="Expiry Date">Expiry Date</span></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id=table_card>
                        <tr>
                            <td><span title="Credit Card Number">{{credit_card.credit_card_number}}</span></td>
                            <td><span title="Credit Card CVV">{{credit_card.credit_card_cvv}}</span></td>
                            <td><span title="Expiry Date">{{credit_card.credit_card_date}}</span></td>
                            <td>
                                <span class="material-icons">edit</span>
                                <span class="material-icons">delete</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
