Flask[async]==2.0.1
flask-sqlalchemy==2.5.1
psycopg2==2.9.1
flask-expects-json==1.6.0
Flask-Migrate==3.0.1
Jinja2==3.0.1
Flask-WTF==0.15.1
argon2-cffi==21.1.0
WTForms[email]==2.3.3
pylint==2.11.0
dodgy==0.2.1
safety==1.10.3
bandit==1.7.0
cryptography==39.0.1
