<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
  <title>To Do List</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <!-- jQuery library -->
  <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <!-- Popper JS -->
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <!-- Latest compiled JavaScript -->
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
          }
      });
  </script>
  {# *** Allow sub-templates to insert extra html to the head section *** #}
  {% block extra_css %}{% endblock %}
</head>

<body>
  <!-- Image and text -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/todo_list.png') }}" alt="" width="100" height="40" class="d-inline-block align-top" />
      </a>
      {% if user_id %}
      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="btn" role="button" href="/user/{{user_id}}">
                <span class="material-icons">account_circle</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="btn" role="button" href="/logout">
                <span class="material-icons">logout</span>
              </a>
            </li>
          </ul>
          </div>
      </div>
      {% endif %}
    </div>
  </nav>

  {% block body %} {% block menu %} {% endblock %}

  <div id="main-div">
    {# One-time system messages called Flash messages #} {% block
    flash_messages %} {%- with messages =
    get_flashed_messages(with_categories=true) -%} {% if messages %} {% for
    category, message in messages %} {% if category=='error' %} {% set
    category='danger' %} {% endif %}
    <div class="alert alert-{{category}}"></div>
    {% endfor %} {% endif %} {%- endwith %} {% endblock %} {% block main %} {%
    block content %}{% endblock %} {% endblock %}
  </div>

  <br />

  {% endblock %} {# *** Allow sub-templates to insert extra html to the bottom
  of the body *** #} {% block extra_js %}{% endblock %}


</body>
</html>
